@import (less) "npm://normalize.css";
//@import (less) "npm://nprogress/nprogress.css";

html, body {
  height: 100%;

}

body {
  //overflow-y: scroll;
  overflow: hidden;
}

#content, .jodel, .list, .detail, .postListContainer {
  height: 100%;
  width: 100%;
}

.list {
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  &.postShown {
    display: none;
  }
}

.detail {
  display: none;
  &.postShown {
    display: block;
  }
}

.postList {
  overflow-y: scroll;
  height: 100%;
}

.postList .post:last-child {
  margin-bottom: 6em;
}

.addButton {
  width: 6em;
  height: 5em;
  position: fixed;
  text-align: center;
  background-color: gray;
  opacity: .5;
  &::before {
    font-size: 4em;
    content: "+";
  }
  margin-left: -2em;
  left: 50%;
}

.postListContainer .addButton {
  bottom: 5em;
}

.postDetails .addButton {
  bottom: 2em;
}

.postListContainer .sections {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;

  & .section {
    float: left;
    width: 33%;
    height: 3em;
    cursor: pointer;
  }
  & .recent {
    &::before {
      content: "Neueste";
    }
  }
  & .discussed {
    &::before {
      content: "Meist kommentierte";
    }
  }
  & .popular {
    &::before {
      content: "Lauteste";
    }
  }
}

.postDetails {
  overflow-y: auto;
  height: 100%;
  margin-top: 3em;
  & .postList {
    overflow-y: unset;
    height: unset;
  }
}

.postDetails .postList .post {
  margin-bottom: .1em;
  padding-bottom: .5em;
  &:last-child {
    margin-bottom: 6em;
  }
}

.post {
  margin-bottom: .5em;
  overflow: hidden;
  color: #eeeeee;
}

.postPicture {
  width: 85%;
  float: left;
  clear: both;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-size: cover;
  height: 100px;
  margin: .2em;
}

.postMessage {
  width: 85%;
  float: left;
  clear: both;
  white-space: pre-line;
  margin: .2em;
}

.vote {
  width: 10%;
  float: left;
  text-align: center;
}

.vote .upVote {
  cursor: pointer;
  width: 3em;
  padding-top: 2em;
  padding-bottom: 1em;
  &::before {
    content: "Up";
  }
  &.down {
    visibility: hidden;
  }
}

.vote .voteCount {
  width: 3em;
}

.vote .downVote {
  cursor: pointer;
  width: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  &::before {
    content: "Down";
  }
  &.up {
    visibility: hidden;
  }
}

.childInfo {
  float: left;
  width: 20%;
  text-align: center;
  font-size: .8em;
}

.location {
  float: left;
  width: 30%;
  font-size: .8em;
}

.location .distance {
  float: left;
  width: 40%;
}

.location .locationName {
  float: left;
  width: 60%;
}

.author {
  width: 10%;
  float: left;
  font-size: .8em;
}

.time {
  float: left;
  width: 40%;
  font-size: .8em;
}

.addPost {
  margin-bottom: 10em;
  display: none;
  &.visible {
    display: block;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  text-align: center;
}

.addPost textarea {
  height: 10em;
  width: 100%;
}

.topBar {
  height: 3em;
  text-align: right;
  clear:both;
  width: 100%;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  & .karma {
    float: right;
    .subText {
      font-size: .5em;
    }
  }
}

.topBar .sectionLink {
  cursor: pointer;
  margin-top: 1em;
  margin-right: 1.3em;
  font-size: .7em;
  float: left;
}

.selectDeviceUid label {
  display: block;
  margin-bottom: .5em;
}

.locationError {
  background-color: red;
  & a {
    cursor: pointer;
    text-decoration: underline;
  }
}
