@import "~normalize.css";
@import "~nprogress/nprogress.css";

@top-bar-height: 3em;
@post-top-bar-height: 3em;
@channel-top-bar-height: 3em;

@bottom-bar-height: 3em;

@bar-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.16), 0 0 6px 3px rgba(0, 0, 0, 0.23);
@menu-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
@toast-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);

@z-index-overlay: 200;
@z-index-toast-layer: 150;
@z-index-top-layer: 100;
@z-index-sub-layer: 80;

html {
  font-family: sans-serif;
  font-size: 15px;
}

html, body, #content, .jodel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.list {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  &.postShown {
    display: none;
  }
}

.detail {
  display: none;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  &.postShown {
    display: flex;
  }
}

.channels {
  position: absolute;
  top: @top-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
  z-index: @z-index-sub-layer;

  display: none;
  &.channelListShown {
    display: block;
  }
}

.channelList {
  .channelListHeader {
    text-transform: uppercase;
    letter-spacing: .25em;
    background-color: orange;
    padding: 1em;
    margin-bottom: 1px;
    color: white;
  }
  .channelListRecommended,
  .channelListLocal,
  .channelListCountry {
    text-transform: uppercase;
    letter-spacing: .25em;
    background: #ddd;
    padding: 1em;
    margin-bottom: 1px;
    color: #555;
  }
  .channelLink {
    background: #fff;
    color: #333;
    display: flex;
    justify-items: center;
    margin-bottom: 1px;
    padding: 1em;
    cursor: pointer;

    &.unread {
      font-weight: bold;
    }

    .channelPicture {
      background-size: cover;
      flex: none;
      height: 2em;
      margin-right: 1em;
      width: 2em;
    }

    .title {
      flex: auto;
      margin-top: .5em;
      margin-bottom: .5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .channel-info {
      flex: 0 1 auto;
      margin-left: .5em;
    }

    .followers,
    .countryFollowers {
      font-size: .7rem;
      text-align: right;
    }
  }
}

.notifications {
  position: absolute;
  top: @top-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
  display: none;
  z-index: @z-index-sub-layer;

  &.notificationsShown {
    display: block;
  }
}

.notification {
  cursor: pointer;
  display: flex;
  background-color: white;
  margin-bottom: 1px;
  padding: 10px 0;

  &.unread .details {
    font-weight: bolder;
  }

  .type {
    flex: none;
    font-size: .6em;
    width: 40px;
    overflow: hidden;
  }

  .details {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 0 10px;
    overflow: hidden;

    .info-text {
      font-size: .8em;
    }

    .message,
    .info-text {
      flex: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .time {
    flex: none;
    font-size: .8em;
  }
}

.search {
  position: absolute;
  top: @top-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
  display: none;
  z-index: @z-index-sub-layer;

  &.searchShown {
    display: block;
  }
}

.postTopBar {
  background-color: #eee;
  box-shadow: @bar-shadow;
  display: flex;
  flex: none;
  justify-content: space-between;
  height: @post-top-bar-height;
  width: 100%;
  z-index: @z-index-sub-layer;

  .rightButtons {
    display: flex;
    flex: none;
  }
}

.backButton {
  cursor: pointer;
  flex: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.pin {
  flex: none;

  .pinButton {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    &::before {
      content: "Pin";
    }
    &.pinned::before {
      content: "Unpin";
    }
  }
}

.share {
  flex: none;

  .shareButton {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    &::before {
      content: "Share";
    }
  }
}

.channelTopBar,
.hashtagTopBar {
  background-color: #eee;
  box-shadow: @bar-shadow;
  display: flex;
  flex: none;
  height: @channel-top-bar-height;
  width: 100%;
  z-index: @z-index-sub-layer;

  .title {
    flex: auto;
    font-weight: bold;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    text-overflow: ellipsis;
  }
}

.follow {
  flex: none;
  .followButton {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    &::before {
      content: "Follow";
    }
    &.isFollowing::before {
      content: "Unfollow";
    }
  }
}

.postListContainer {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.postListContainer .postList {
  flex: auto;
  overflow-y: scroll;
  width: 100%;
}

.addButton {
  width: 4em;
  height: 4em;
  position: fixed;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
  &:hover {
    background-color: rgba(66, 189, 255, .76);
  }
  &:active {
    background-color: rgba(66, 189, 255, .76);
  }
  color: #fff;
  border: solid .3em #fff;
  border-radius: 4em;
  &::before {
    font-size: 3em;
    content: "+";
  }
  margin-left: -2em;
  left: 50%;
}

.postListContainer .addButton {
  bottom: 3.5em;
}

.postDetails .addButton {
  bottom: 1em;
}

.postListContainer .sortTypes {
  background-color: #eee;
  box-shadow: @bar-shadow;
  display: flex;
  flex: none;
  text-align: center;
  width: 100%;
  z-index: @z-index-sub-layer;

  .sortType {
    background: no-repeat center;
    flex: auto;
    height: @bottom-bar-height;
    cursor: pointer;

    &.active {
      background-color: #ccc;
    }

    &.recent {
      background-image: url("../img/clock.svg");
      background-size: @bottom-bar-height / 2;
    }
    &.discussed {
      background-image: url("../img/comments.svg");
      background-size: @bottom-bar-height / 2;
    }
    &.popular {
      background-image: url("../img/popular.svg");
      background-size: @bottom-bar-height / 2;
    }
  }
}

.postDetails {
  flex: auto;
  overflow-y: auto;
  width: 100%;

  .postList .post {
    margin-bottom: .1em;
  }
}

.post,
.sticky {
  margin-bottom: .5em;
  padding: 5px;
  overflow: hidden;
  color: #fff;

  .postPicture {
    width: 85%;
    float: left;
    clear: both;
    filter: blur(5px);
    background-size: cover;
    height: 100px;
    margin: .2em;
  }

  .postMessage {
    width: 85%;
    float: left;
    clear: both;
    white-space: pre-wrap;
    margin: .2em;
  }

  .vote {
    width: 10%;
    float: left;
    text-align: center;

    .upVote {
      cursor: pointer;
      width: 3em;
      padding-top: .5em;
      padding-bottom: .5em;
      &::before {
        content: "";
        height: 1em;
        margin-left: .75em;
        background: url("../img/up.svg") no-repeat;
        background-size: 1.5em auto;
        display: block;
      }
      &.down {
        visibility: hidden;
      }
      &.up {
        cursor: inherit;
      }
    }

    .voteCount {
      width: 3em;
    }

    .downVote {
      cursor: pointer;
      width: 3em;
      padding-top: .5em;
      padding-bottom: .5em;
      &::before {
        content: "";
        height: 1em;
        margin-left: .75em;
        background: url("../img/down.svg") no-repeat;
        background-size: 1.5em auto;
        display: block;
      }
      &.up {
        visibility: hidden;
      }
      &.down {
        cursor: inherit;
      }
    }
  }

  .time {
    float: left;
    width: 30%;
    font-size: .8em;
    color: rgba(255, 255, 255, .5);
  }

  .childInfo {
    float: left;
    width: 30%;
    text-align: center;
    font-size: .8em;
    color: rgba(255, 255, 255, .5);
  }

  .location {
    float: left;
    width: 30%;
    font-size: .8em;
    color: rgba(255, 255, 255, .5);

    .distance {
      float: left;
      width: 40%;
    }

    .locationName {
      float: left;
      width: 60%;
    }
    .fromHome:after {
      content: "🏠";
      margin-left: .5em;
    }
  }

  .author {
    width: 10%;
    float: left;
    font-size: .8em;
    color: rgba(255, 255, 255, .5);
    .OJ:after {
      content: "👑";
      margin-left: .5em;
    }
    .gotThanks:after {
      content: "❤";
      margin-left: .5em;
    }
  }
}

.addPost {
  display: none;
  &.visible {
    display: block;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: @z-index-overlay;
  background-color: #eeeeee;
  text-align: center;

  textarea {
    height: 10em;
    width: 100%;
  }

  img {
    height: 100px;
  }
  .colorPicker {
    color: white;
  }
}

.topBar {
  background-color: #eee;
  display: flex;
  flex: none;
  box-shadow: @bar-shadow;
  height: @top-bar-height;
  width: 100%;
  z-index: @z-index-top-layer;

  .karma {
    flex: none;
    margin-right: 5px;
    margin-top: 5px;

    .subText {
      font-size: .5em;
    }
  }

  .barEntries {
    display: flex;
    flex: auto;
    overflow: hidden;

    > * {
      cursor: pointer;
      flex: none;
      height: @top-bar-height / 3;
      padding: (@top-bar-height/3) .6em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        background-color: #ccc;
      }
    }
  }
  .menu {
    flex: none;
    cursor: pointer;
    height: @top-bar-height / 3;
    padding: (@top-bar-height/3) .6em;

    &::before {
      background: url('../img/menu.svg') no-repeat center;
      content: '  ';
      display: block;
      height: @top-bar-height / 3;
      width: @top-bar-height / 2;
    }

    &.newNotifications::after {
      content: ' ';
      background-color: blue;
      border-radius: 10px;
      position: absolute;
      left: @top-bar-height / 2;
      top: @top-bar-height / 4;
      width: 10px;
      height: 10px;
    }

    .menuContent {
      background-color: #eee;
      box-shadow: @menu-shadow;
      left: 0;
      list-style-type: none;
      padding: 0;
      position: absolute;

      .menuEntry {
        > * {
          padding: 1em 1.3em 1em 1em;
          height: 2em;
        }
        &.active {
          background-color: #ccc;
        }
      }
    }
  }
}

.firstStart {
  .block {
    margin-bottom: 2em;
    margin-left: 2em;
  }
}

.selectDeviceUid {
}

.selectDeviceUid label {
  display: block;
  margin-bottom: .5em;
}

.locationError {
  background-color: red;
  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.selectLocation {
  .locationType {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    label {
      flex: none;
      margin-right: 1rem;
      white-space: nowrap;
    }
  }

  .manualLocation {
    label {
      display: block;
    }
  }

  .manualLocation {
    input {
      height: 2rem;
    }
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

a.hashtag {
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: rgba(0, 16, 20, 0.33);
  }
  &:active {
    color: rgba(0, 16, 20, 0.33);
  }
}

.bigPicture {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @z-index-overlay;
  background-color: black;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.settings {
  position: absolute;
  top: @top-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
  display: none;
  z-index: @z-index-sub-layer;

  &.settingsShown {
    display: block;
  }
}

.appSettings {
  .block {
    margin-bottom: 2em;
    margin-left: 2em;
  }

  .deviceUid {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .closeButton {
    margin: 1em;
  }
}

.accountVerification,
.features,
.userType,
.pendingDeletion,
.internationalFeed {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.verificationImage {
  img {
    width: 100%;
  }
}

.toast-container {
  position: relative;
  z-index: @z-index-toast-layer;

  .toast {
    box-shadow: @toast-shadow;
    cursor: pointer;
    left: 0;
    margin: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;

    &-message {
      padding: 10px;
    }

    &-error {
      background-color: red;
    }

    &-warning {
      background-color: orange;
    }

    &-info {
      background-color: white;
    }
  }
}
