$z-index-overlay: 200;
$z-index-toast-layer: 150;
$z-index-menu-layer: 100;
$z-index-top-layer: 100;
$z-index-sub-layer: 80;

$top-bar-height: 3em;
$post-top-bar-height: 3em;
$channel-top-bar-height: 3em;

$bottom-bar-height: 3em;

$bar-shadow: 0 0 6px 3px rgba(0, 0, 0, .16), 0 0 6px 3px rgba(0, 0, 0, .23);
$menu-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 0 6px rgba(0, 0, 0, .23);
$toast-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 0 6px rgba(0, 0, 0, .23);
$button-shadow: 0 5px 5px rgba(0, 0, 0, .16);
