.add-button {
    background-color: rgba(0, 0, 0, .3);
    border: solid .3em #fff;
    border-radius: 4em;
    color: #fff;
    cursor: pointer;
    height: 4em;
    left: 50%;
    margin-left: -2em;
    position: fixed;
    text-align: center;
    width: 4em;

    &:hover {
        background-color: rgba(66, 189, 255, .76);
    }

    &:active {
        background-color: rgba(66, 189, 255, .76);
    }

    &::before {
        content: "+";
        font-size: 3em;
    }
}
