@import '../../style/settings.scss';

.big-picture {
    background-color: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-overlay;

    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }

    video {
        height: 100%;
        width: 100%;
    }
}
