@import '../../style/settings.scss';

.shareLink {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    left: 5em;
    right: 5em;
    z-index: $z-index-overlay;
    background-color: gray;
    padding: 1em;

    .link {
        display: flex;
        margin-bottom: 1em;
    }

    .linkDisplay {
        flex: auto;
        min-width: 0;
    }

    .shareButton {
        flex: none;
        margin-left: 1em
    }
}
